*{
	margin:0;
	letter-spacing: 2px;
	border-radius: 0% !important;
	font-family: 'Roboto', sans-serif;
}

small{
	color:#DB4437 !important;
	margin-top:1%;
}

body{
	background-color: #ededed !important;
}

h1,h2,h3,h4,h5,h6,a{
	color:#45A29E;
	text-transform: uppercase;
}

hr{
	margin-bottom: 5%;
}

thead tr th{
	color:#45A29E !important;
	text-transform: uppercase;
}

.form-control{
	border:0px !important;
	border-bottom: 2px solid #dedede !important;
}

.form-control:focus,.form-control:hover{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
	border-bottom: 2px solid #0F9D58 !important;
}

.btn{
	text-transform: uppercase;
}

.btn-success,.btn-success:focus,.btn-success:hover{
	border:1px solid  #45A29E;
	background-color: #45A29E;
	margin-left: 15%;
}

.btn-dflt,.btn-dflt:focus,.btn-dflt:hover{
	color:#fff;
	border:1px solid  #5a5a5a;
	background-color: #5a5a5a;
}

.jumbotron{
	color:#fff;
	background-color: yellow;
}